@import '@/styles/_variables.scss';
.newpassword {
	&__title {
		margin-bottom: 32px;
	}
	&__fields {
		width: 100%;
		margin-bottom: 32px;
	}
	&__field {
		margin-bottom: 24px;
	}
	@media screen {
		&__field {
			margin-bottom: 20px;
		}
		&__fields {
			margin-bottom: 24px;
		}
	}
}
