@import '@/styles/_variables.scss';
.btn {
	color: $white;
	background: $purple;
	border-radius: 8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	padding: 16px;
	width: 100%;
	cursor: pointer;
	letter-spacing: 0px;
	transition: $transition_fast;
	&:hover {
		background: $mainText;
	}
	&:disabled {
		cursor: auto;
		background: #f5f5f6;
		color: #787486;
		svg {
			path {
				stroke: #787486;
			}
		}
	}
	@media ($media_xs2) {
		border-radius: 6px;
		padding: 12px 16px;
	}
}
