@import '@/styles/_variables.scss';

.certificate {
	padding: 64px 0 120px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 46px;
	}

	&__box {
		display: flex;
		align-items: center;
	}

	&__symbol {
		margin-left: 13px;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: $purple;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__tabs {
		border: 1px solid #eaecf1;
		border-radius: 8px;
		background-color: $white;
		padding: 6px;
		display: flex;
		align-items: center;
		max-width: 365px;
		width: 100%;
		gap: 1px;
	}

	&__btn {
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		width: 175px;
		padding: 10px 0;
		color: $gray;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		background: $white;
	}

	&__btn__active {
		background-color: $purple;
		color: $white;
	}

	&__create {
		min-height: 428px;
		border: 1.5px dashed #d1d1dc;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__create__title {
		max-width: 352px;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: $black;
		margin-bottom: 24px;
		text-align: center;
	}

	&__create__btn {
		max-width: 204px;
		height: 48px;
		width: 100%;
		background: #6d54fe;
		border-radius: 6px;
		color: $white;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
}
