@import '@/styles/_variables.scss';
.password {
	&__title {
		margin-bottom: 16px;
	}
	&__subtitle {
		margin-bottom: 32px;
	}
	&__field {
		margin-bottom: 32px;
	}
	&__button {
		display: block;
		margin-bottom: 24px;
	}
	&__subButton {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		color: $mainText;
	}
	&__link {
		font-weight: 500;
		color: $purple;
	}
	@media ($media_xs2) {
		&__title {
			margin-bottom: 12px;
		}
		&__subtitle {
			margin-bottom: 24px;
		}
		&__field {
			margin-bottom: 24px;
		}
		&__subButton {
			text-align: left;
			font-size: 14px;
			line-height: 24px;
		}
	}
}
