@import '@/styles/_variables.scss';
.item {
	padding: 31px 40px;
	background: $white;
	border: 1px solid $border;
	border-radius: 12px;
	margin-bottom: 16px;
	&:last-child {
		margin-bottom: 0;
	}
	&__header {
		cursor: pointer;
		position: relative;
		&:hover {
			.item__icon {
				path {
					stroke: $purple;
				}
			}
		}
	}
	&__title {
		padding-right: 48px;
		font-weight: 600;
		font-size: 18px;
		line-height: 28px;
	}
	&__text {
		padding-top: 20px;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
	}
	&__icon {
		position: absolute;
		right: 0px;
		top: 1px;
		transition: $transition_fast;
		path {
			transition: $transition_fast;
		}
		&_active {
			transform: scale(-1);
		}
	}
	@media ($media_xs2) {
		padding: 16px 16px 14px;
		border-radius: 8px;
		margin-bottom: 12px;
		&__title {
			font-size: 14px;
			line-height: 24px;
			padding-right: 30px;
		}
		&__text {
			padding-top: 8px;
			font-size: 14px;
			line-height: 24px;
		}
	}
}
