@import '@/styles/_variables.scss';
.status {
	font-weight: 500;
	position: relative;
	padding-left: 20px;
	&::before {
		content: '';
		display: block;
		width: 8px;
		height: 8px;
		position: absolute;
		border-radius: 50%;
		top: 50%;
		left: 2px;
		transform: translateY(-50%);
	}
	&__active {
		border-color: $purple;
	}
	&__code0 {
		padding-left: 0;
	}
	&__code1 {
		&::before {
			background: #68d258;
		}
	}
	&__code2 {
		&::before {
			background: $purple;
		}
	}
	&__code3 {
		&::before {
			background: #ff4d50;
		}
	}
}
