@import '@/styles/_variables.scss';
.filter {
	display: flex;
	column-gap: 32px;
	&__search {
		width: 100%;
	}
	&__item {
		width: 100%;
		max-width: 365px;
		display: flex;
		align-items: center;
		background: $white;
		border: 1px solid $border;
		border-radius: 8px;
		padding: 15px 20px;
	}
	&__field {
		width: 100%;
		font-family: 'Gilroy';
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $gray;
		border: none;
	}
	&__icon {
		cursor: pointer;
		margin-right: 16px;
	}
	&__field::placeholder {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $gray;
	}
	@media ($media_xs2) {
		flex-wrap: wrap;
		row-gap: 16px;
	}
}
.swiper {
	display: none;
	width: 100%;
	position: relative;
	overflow: visible;
	&__slide {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #ffffff;
		border: 1px solid #eaecf1;
		border-radius: 4px;
		padding: 4px 10px;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		svg {
			display: none;
		}
	}
	&__slideActive {
		border-color: $purple;
		svg {
			display: block;
		}
	}
	@media ($media_xs2) {
		display: flex;
	}
}
.select {
	@media ($media_xs2) {
		&__hide {
			display: none;
		}
	}
}
.search {
	margin-bottom: 7px;
	input {
		padding-left: 59px;
	}
	span {
		left: 60px;
		color: #787486;
		&::after {
			content: '';
		}
	}
	@media ($media_xs2) {
		input {
			padding-left: 52px;
		}
		span {
			left: 52px;
		}
	}
}
