@import '@/styles/_variables.scss';
.option {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: $mainText;
	padding: 9px 12px;
	border-radius: 4px;
	transition: $transition_fast;
	&:hover {
		background: #f5f5f6;
	}
}
