@import '@/styles/_variables.scss';
.field {
	display: block;
	position: relative;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
	&__inner {
		position: relative;
	}
	&__input {
		padding: 24px 20px 4px;
		background: $white;
		border: 1px solid $border;
		border-radius: 8px;
		display: block;
		width: 100%;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $mainText;
		vertical-align: bottom;
		&:focus {
			outline: 1px solid $purple;
			& + span {
				color: $purple;
				font-size: 12px;
				line-height: 20px;
				top: 5px;
			}
		}
	}
	&__placeholder {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $mainText;
	}
	&__error {
		color: #ff4d50 !important;
		outline-color: #ff4d50;
		&::after {
			color: #ff4d50 !important;
		}
	}
	&__errorBox {
		padding-top: 4px;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: #ff4d50;
	}
	&__fill {
		span {
			color: $purple;
			font-size: 12px;
			line-height: 20px;
			top: 5px;
		}
	}
	&__errorInput {
		border-color: #ff4d50;
		&:focus {
			outline: none;
		}
	}
	&__placeholder {
		pointer-events: none;
		transition: $transition_fast;
		position: absolute;
		top: 13px;
		left: 20px;
		color: $gray;
		letter-spacing: 0px;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		&::after {
			content: ' *';
			color: $purple;
		}
	}

	&__eye {
		cursor: pointer;
		position: absolute;
		top: 50%;
		right: 19px;
		transform: translateY(-50%);
		path {
			transition: $transition_fast;
		}
		&:hover {
			path {
				stroke: $purple;
			}
		}
	}
	&__icon {
		cursor: pointer;
		top: 16px;
		left: 20px;
		position: absolute;
	}
	@media ($media_xs2) {
		&__profile {
			display: block;
		}
		&__hide {
			display: none;
		}
		margin-bottom: 20px;
		&__icon {
			width: 16px;
			height: 16px;
		}
		&__edit {
			margin-bottom: 9px;
		}
		&__eye {
			right: 15px;
		}
		&__edit {
			.field__input {
				padding-left: 52px;
			}
			.field__placeholder {
				left: 52px;
			}
		}

		&__input {
			padding: 16px 15px 4px;
			font-size: 14px;
			line-height: 24px;
		}
		&__placeholder {
			top: 11px;
			left: 15px;
			font-size: 14px;
			line-height: 24px;
		}
	}
}
