$black: #000;
$mainText: #232124;
$dark: #232124;
$background: #f5f5f5;
$purple: #6d54fe;
$white: #fff;
$gray: #787486;
$border: #eaecf1;
$red: #ff4d50;

//transitions
$transition_action: 0.15s;
$transition_fast: 0.3s;

//media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';
$media_xs2: 'max-width: 500px';
