@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../../../Gilroy-Thin.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../../../Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../../../Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}