@import '@/styles/_variables.scss';
.faq {
	&__back {
		margin-bottom: 17px;
	}
	&__row {
		display: flex;
		column-gap: 32px;
	}
	@media ($media_xs2) {
		&__row {
			row-gap: 32px;
			flex-wrap: wrap;
		}
	}
}
