@import '@/styles/_variables.scss';
.main {
	position: relative;
}
.section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media ($media_xs2) {
		padding-bottom: 114px;
	}
}
.container {
	overflow: visible;
	@media ($media_xs2) {
		padding: 0;
	}
}
.footer {
	position: absolute;
	bottom: 7.7%;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 400;
	font-size: 20px;
	line-height: 18px;
	svg {
		margin-left: 7px;
	}
	@media ($media_xs2) {
		font-size: 14.8612px;
		line-height: 14px;
		bottom: 67px;
	}
}
