@import '@/styles/_variables.scss';
.table {
	width: 100%;
	background: $white;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #eaecf1;
	border-radius: 8px;
	margin-bottom: 32px;
	border-spacing: 0;
	&__mob {
		display: none;
	}
	&__name {
		padding: 14px 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: $gray;
	}
	&__number {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $purple;
	}
	&__sertificate {
		width: 288px;
	}
	&__user {
		display: block;
		max-width: 104px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__cell {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		border-top: 1px solid $border;
		&:first-child {
			width: 104px;
		}
		&:nth-child(3) {
			width: 130px;
			max-width: 130px;
		}
		&:nth-child(6) {
			width: 137px;
		}
		&:nth-child(4) {
			padding: 10px 20px;
		}
	}
	&__date {
		letter-spacing: -1px;
	}
	&__pagination {
		width: max-content;
		display: flex;
		padding: 7px 7px;
		background: $white;
		border: 1px solid $border;
		border-radius: 8px;
		column-gap: 8px;
		align-items: center;
	}
	&__buttons {
		display: flex;
		column-gap: 8px;
	}
	&__arrIcon {
		display: block;
	}
	thead {
		td {
			padding: 12px 13px 14px;
			&:first-child {
				padding-left: 22px;
			}
			&:last-child {
				padding-right: 19px;
			}
		}
	}
	tbody {
		td {
			padding: 10px 14px 12px;
			&:first-child {
				padding-left: 22px;
			}
			&:last-child {
				padding-right: 19px;
			}
		}
	}
	&__modalButtons {
		display: flex;
		column-gap: 24px;
	}
	&__mobButtons {
		display: none;
	}
	&__more {
		display: none;
	}
	&__paginationButton {
		border-radius: 8px;
		width: 32px;
		height: 32px;
		position: relative;
		transition: $transition_fast;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			background: #f5f5f6;
		}
	}
	@media ($media_xs2) {
		display: none;
		&__more {
			border: 1.5px solid #eaecf1;
			border-radius: 6px;
			width: 100%;
			background: $white;
			justify-content: center;
			font-family: 'Gilroy';
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			padding: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__hide {
			display: none;
		}
		&__subText {
			display: none;
		}
		&__mobButtons {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&__delText {
			font-weight: 500;
			font-size: 14px;
			line-height: 24px;
			margin-bottom: 20px;
		}
		&__modalButtons {
			flex-direction: column-reverse;
			row-gap: 20px;
		}
		&__pagination {
			display: none;
		}
		&__mob {
			display: block;
			margin-bottom: 24px;
		}
	}
}
.edit {
	&__title {
		margin-bottom: 16px;
	}
	&__subtitle {
		font-size: 18px;
		line-height: 28px;
	}
	&__area {
		margin-bottom: 32px;
	}
	&__item {
		margin-bottom: 24px;
	}
	&__text {
		color: #787486;
		letter-spacing: 0px;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
	}
	&__dot {
		margin: 0 5px;
	}
	@media ($media_xs2) {
		&__item {
			margin-bottom: 20px;
			&__text:nth-child(2) {
				display: none;
			}
		}
		&__title {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 16px;
		}
		&__subtitle {
			font-size: 14px;
			line-height: 24px;
		}
		&__area {
			height: 150px;
			margin-bottom: 24px;
		}
	}
}
.red {
	color: #ff4d50;
	margin-bottom: 16px;
	@media ($media_xs2) {
		margin-bottom: 12px;
	}
}
.big {
	@media ($media_xs2) {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 32px;
	}
}
.edit {
	@media ($media_xs2) {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 16px;
	}
}
.editField {
	margin-bottom: 6px;
	&:last-child {
		margin-bottom: 0;
	}
}
.small {
	max-width: 380px;
	width: 100%;
}
.center {
	text-align: center;
}
.delete {
	margin-bottom: 24px;
	span {
		&::after {
			content: '';
		}
	}
}
.full {
	@media ($media_xs2) {
		padding-top: 80px;
		border-radius: 0;
		min-height: 100vh;
		overflow: scroll;
		max-height: 100vh;
		.modal__back {
		}
		.close {
			display: none;
		}
	}
}
.empty {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #787486;
}
.mobHide {
	@media ($media_xs2) {
		display: none;
	}
}
.cancelButton {
	transition: $transition_fast;
	svg {
		path {
			transition: $transition_fast;
		}
	}
	&:hover {
		color: $white;
		background-color: $red;
		svg {
			path {
				stroke: $white;
			}
		}
	}
}
