@import '@/styles/_variables.scss';
.button {
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	color: #232124;
	padding: 3px 11px;
	transition: $transition_fast;
	&:hover {
		background: #f5f5f6;
	}
	&__active {
		color: $white;
		background: $purple;
		&:hover {
			background: $purple;
		}
	}
}
