@import '@/styles/_variables.scss';
.hint {
	pointer-events: none;
	padding: 6px 12px;
	position: absolute;
	background: $mainText;
	border-radius: 4px;
	left: 50%;
	bottom: -14px;
	z-index: 3;
	width: max-content;
	max-width: 276px;
	svg {
		margin-right: 8px;
	}
	&::after {
		content: '';
		position: absolute;
		background: #232124;
		width: 8px;
		height: 8px;
		display: block;
		transform: rotate(45deg) translateX(-50%);
		top: 0px;
		left: 50%;
	}
	&__text {
		display: flex;
		align-items: center;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: $white;
	}
	&__small {
		text-align: left;
		max-width: 220px;
	}
	&__up {
		bottom: auto;
		top: -14px;
		&::after {
			bottom: 0;
			top: auto;
			transform: rotate(-45deg) translateX(-50%);
		}
	}
	@media ($media_xs2) {
		display: none;
	}
}
