@import '@/styles/_variables.scss';
.row {
	border-top: 1px solid $border;
	transition: $transition_fast;
	&:hover {
		background: rgba(#f5f5f6, 0.4);
	}
	&__name {
		padding: 14px 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 20px;
		color: $gray;
	}
	&__number {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		color: $purple;
	}
	&__sertificate {
		width: 288px;
	}
	&__user {
		display: block;
		max-width: 104px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__cell {
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		border-top: 1px solid $border;
		&:first-child {
			width: 132px;
		}
		&:nth-child(3) {
			width: 136px;
		}
		&:nth-child(6) {
			width: 137px;
		}
		&:nth-child(4) {
			padding: 10px 20px;
		}
	}
	&__date {
		font-size: 14px;
	}
	&__pagination {
		width: max-content;
		display: flex;
		padding: 8px 14px;
		background: $white;
		border: 1px solid $border;
		border-radius: 8px;
		column-gap: 9px;
		align-items: center;
	}
	&__buttons {
		display: flex;
		column-gap: 20px;
	}
	&__arrIcon {
		display: block;
	}
	//thead {
	//	td {
	//		padding: 13px 16px;
	//		&:first-child {
	//			padding-left: 22px;
	//		}
	//		&:last-child {
	//			padding-right: 18px;
	//		}
	//	}
	//}
	//tbody {
	//	td {
	//		padding: 10px 16px;
	//		&:first-child {
	//			padding-left: 22px;
	//		}
	//		&:last-child {
	//			padding-right: 18px;
	//		}
	//	}
	//}
}
