@import '@/styles/_variables.scss';
.header {
	@media ($media_xs2) {
		flex-wrap: wrap;
		row-gap: 34px;
		margin-bottom: 24px;
	}
}
.exit {
	width: 152px !important;
	@media ($media_xs2) {
		width: 100% !important;
	}
}
.profile {
	&__button {
		margin-bottom: 24px;
	}
	&__buttons {
		margin-bottom: 32px;
		&Wrap {
			padding-top: 15px;
		}
	}
	&__delete {
		margin-bottom: 22px;
	}
	&__modalButtons {
		display: flex;
		column-gap: 24px;
	}
	&__add {
		font-family: 'Gilroy';
		width: 100%;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		padding: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1.5px solid #eaecf1;
		border-radius: 6px;
		letter-spacing: 0;
	}
	&__plus {
		margin-right: 12px;
	}
	&__items {
		margin-bottom: 24px;
	}
	@media ($media_xs2) {
		&__add {
			padding: 7px;
			font-size: 14px;
			line-height: 24px;
		}
		&__items {
			margin-bottom: 16px;
		}
		&__buttons {
			margin-bottom: 16px;
		}
		&__plus {
			margin-right: 10px;
			width: 16px;
			height: 16px;
		}
		&__delete {
			margin-bottom: 18px;
		}
		&__modalButtons {
			flex-direction: column-reverse;
			row-gap: 16px;
		}
	}
}
.deleteFieldMob {
	display: none;
	input:not(:placeholder-shown) + span {
		color: #787486;
		font-size: 12px;
		line-height: 20px;
		top: 5px;
	}
	input {
		&:focus {
			outline: none;
			& + span {
				color: #787486;
			}
		}
	}
	span {
		&::after {
			content: '';
		}
	}
	@media ($media_xs2) {
		display: block;
	}
}
.delete {
	span {
		&::after {
			content: '';
		}
	}
}
.center {
	text-align: center;
}
.subTitleMob {
	display: none;
	@media ($media_xs2) {
		display: block;
		margin-bottom: 3px;
	}
}
.add {
	&:hover,
	&:active {
		svg {
			path {
				fill: $white;
				stroke: none;
			}
		}
	}
}
