@import '@/styles/_variables.scss';
.item {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $white;
	border: 1px solid #eaecf1;
	border-radius: 12px;
	padding: 12px 10px 24px;
	position: relative;
	&__img {
		width: 100%;
		margin-bottom: 14px;
		position: relative;
		background: #eaecf1;
		border-radius: 8px;
	}
	&__item__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 12px;
		flex: 1;
	}
	&__text {
		font-weight: 500;
		max-width: 218px;
		font-size: 16px;
		line-height: 26px;
		color: $black;
		margin-bottom: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-box;
		-moz-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		box-orient: vertical;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__send {
		margin-right: 16px;
	}
	&__send:hover {
		background: $purple;
		color: $white;
	}
	&__send:active {
		color: $white;
		background: #6954e4;
	}
	&__img img {
		display: block;
		width: 100%;
		min-height: 242px;
		border-radius: 8px;
	}
	&__img span {
		position: absolute;
		top: 12px;
		left: 12px;
		background: $purple;
		border-radius: 6px;
		padding: 4px 12px;
		font-size: 16px;
		line-height: 24px;
		color: $white;
		font-weight: 600;
	}
	&__settings {
		max-width: 40px;
		flex-shrink: 0;
	}
	@media ($media_xs2) {
		& &__settings {
			height: 40px;
		}
		& &__send {
			height: 40px;
		}
	}
}
